<a href="https://colab.research.google.com/github/ohdata1/ohdata1.github.io/blob/main/tfl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests, pandas as pd

In [3]:
url ='https://api.tfl.gov.uk/crowding/940GZZLUEUS/mon?app_key=fe1250460fdc4f948d643f82c80cfaab'
html = requests.get(url)

In [8]:
json_data=html.json()
json_data

TypeError: ignored

In [29]:

df = pd.DataFrame(json_data['timeBands'])

In [30]:
df

       timeBand  percentageOfBaseLine
0   00:00-00:15              0.025016
1   00:15-00:30              0.019135
2   00:30-00:45              0.014149
3   00:45-01:00              0.010059
4   01:00-01:15              0.006864
..          ...                   ...
91  22:45-23:00              0.088286
92  23:00-23:15              0.080938
93  23:15-23:30              0.071456
94  23:30-23:45              0.059839
95  23:45-00:00              0.046087

[96 rows x 2 columns]

In [31]:
df['timeBand'] = df['timeBand'].map(str)

In [32]:
df['timeBand'] = df['timeBand'].str[:-6]
df

   timeBand  percentageOfBaseLine
0     00:00              0.025016
1     00:15              0.019135
2     00:30              0.014149
3     00:45              0.010059
4     01:00              0.006864
..      ...                   ...
91    22:45              0.088286
92    23:00              0.080938
93    23:15              0.071456
94    23:30              0.059839
95    23:45              0.046087

[96 rows x 2 columns]

In [33]:
df.to_csv('tfl.csv')